<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="bannu_icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Login</title>
</head>
<body class="bg-gradient-to-b from-blue-200 to-blue-500 min-h-screen flex items-center justify-center">
    <div class="w-full max-w-sm p-8 bg-white rounded-lg shadow-md">
        <h2 class="text-3xl font-bold mb-6 text-center text-gray-800">ATM Login</h2>
        <form method="post" action="{{ url_for('login') }}">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="card_number">Card Number:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500" id="card_number" type="text" name="card_number" placeholder="Enter your card number">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="pin">PIN:</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500" id="pin" type="password" name="pin" placeholder="Enter your PIN">
            </div>
            <div class="flex items-center justify-center">
                <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out w-full sm:w-auto">Login</button>
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="mt-4">
                {% for message in messages %}
                <li class="text-red-500 text-center">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>
